<section id="About-us" class="about-us">
  <div class="container">
    <h2 class="about-us-title">About&nbsp;<span>Us</span></h2>
    <div class="about-us-wrap">
      <picture>
        <source
          srcset="
            /img/about-us/about-us-camera-1280.png    1x,
            /img/about-us/about-us-camera-1280-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /img/about-us/about-us-camera-tab.png    1x,
            /img/about-us/about-us-camera-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/about-us/about-us-camera-mob.png    1x,
            /img/about-us/about-us-camera-mob-2x.png 2x
          "
          media="(min-width:375px)"
        />
        <img
          class="about-us-img"
          src="/img/about-us/about-us-camera.png"
          alt="camera"
          width="360"
        />
      </picture>

      <div class="about-us-text">
        <p>
          Our photography school is designed to teach you everything you need to
          know about this magical art. Regardless of your experience or skill
          level, we offer a wide range of courses to suit your needs and
          interests. Our teaching team consists of experienced photographers who
          have many years of experience in this field. They strive not only to
          share their knowledge, but also to inspire you to develop and express
          your unique creativity.
        </p>
        <p>
          Our courses cover a wide range of topics, from the basics of
          photography and equipment use to professional image processing and
          creating impressive compositions. You will have the opportunity to
          learn the technical aspects of photography, discover your own style
          and develop your own visual language.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  // Отримання посилань на елементи DOM
  const modal = document.querySelector('.modal-window');
  const openModalButton = document.querySelector('.header-button');
  const closeModalButton = document.querySelector('.button-band');

  // Функція відкриття модального вікна
  function openModal() {
    modal.style.display = 'block';
  }

  // Функція закриття модального вікна
  function closeModal() {
    modal.style.display = 'none';
  }

  // Додавання обробників подій для кнопок відкриття та закриття
  openModalButton.addEventListener('click', openModal);
  closeModalButton.addEventListener('click', closeModal);

  // Додавання обробників подій для закриття модального вікна при кліку поза вікном
  window.addEventListener('click', event => {
    if (event.target === modal) {
      closeModal();
    }
  });

  // Close the mobile menu on wider screens if the device orientation changes
  window.matchMedia('(min-width: 768px)').addEventListener('change', e => {
    if (e.matches) {
      // Код для закриття мобільного меню тут
      mobileMenu.classList.remove('is-open');
      openMenuBtn.setAttribute('aria-expanded', false);
      bodyScrollLock.enableBodyScroll(document.body);
    }
  });
</script>
