<footer class="footer-wrap">
  <div class="container">
    <div class="container-footer">
      <div class="contacts-footer" id="Contacts">
        <a class="logo-in-footer" href="/index.html" target="_blank">
          <svg class="logo-footer" width="127" height="20">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="contacts">
          <li class="contacts-item">
            <a class="telephone contacts-link" href="tel:+380665438912"
              >Uk: +38 066 543 8912</a
            >
          </li>
          <li class="contacts-item">
            <address class="address contacts-link">Ukraine, Kyiv</address>
          </li>
        </ul>
      </div>
      <div class="footer-lists">
        <ul class="social-networks">
          <li class="networks-item">
            <a
              class="footer-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li class="networks-item">
            <a
              class="footer-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li class="networks-item">
            <a
              class="footer-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >Youtube</a
            >
          </li>
        </ul>

        <ul class="anchor-list">
          <li class="anchor-item">
            <a class="footer-link" href="#About-us">About us</a>
          </li>
          <li class="anchor-item">
            <a class="footer-link" href="#Our-courses">Our courses</a>
          </li>
          <li class="anchor-item">
            <a class="footer-link" href="#Our-mentors">Our mentors</a>
          </li>
          <li class="anchor-item">
            <a class="footer-link" href="#Reviews">Reviews</a>
          </li>
          <li class="anchor-item">
            <a class="footer-link" href="#Contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <form class="subscribe-form-footer" name="subscribe-form">
        <label class="subscribe-label-footer" for="email-footer">
          <input
            class="email-field-footer"
            id="email-footer"
            type="email"
            name="user-email"
            placeholder="Enter your email"
            pattern="@"
            required
          />
        </label>
        <button class="button-footer" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-down">
      <div>
        <p class="footer-down-text">
          <a
            class="privacy-policy"
            href=""
            target="_blank"
            rel="noopener noreferref"
            >Privacy Policy</a
          >
          <br />Public Offering Agreement
        </p>
      </div>
      <div>
        <p class="footer-down-text">
          2023 Focus Frame <br />© All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
