<footer">
    <div class="container">
        <svg class="logo-footer" width="127" height="20px">
            <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <ul class="contacts">
            <li class="contacts-item">
                <a class="telephone" href="tel:+380665438912">Uk: +38 066 543 8912</a>
            </li>
            <li class="contacts-item">
                <address class="address">Ukraine, Kyiv</address>
            </li>
        </ul>
        <div class="footer-lists">
            <ul class="social-networks">
                <li class="networks-item">
                    <a class="footer-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
                </li>
                <li class="networks-item">
                    <a class="footer-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
                </li>
                <li class="networks-item">
                    <a class="footer-link" href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
                </li>
            </ul>
            <!-- Попросити інших внести в розділи якірні посилання id="" -->
            <ul class="anchor-list">
                <li class="anchor-item">
                    <a class="footer-link" href="#About">About us</a>
                </li>
                <li class="anchor-item">
                    <a class="footer-link" href="#Courses">Our courses</a>
                </li>
                <li class="anchor-item">
                    <a class="footer-link" href="#Mentors">Our mentors</a>
                </li>
                <li class="anchor-item">
                    <a class="footer-link" href="#Reviews">Reviews</a>
                </li>
                <li class="anchor-item">
                    <a class="footer-link" href="#Contacts">Contacts</a>
                </li>
            </ul>
        </div>
        <form class="subscribe-form-footer" name="subscribe-form">
            <label class="subscribe-label-footer" for="email-footer">
                <input class="email-field-footer" id="email-footer" type="email" name="user-email"
                    placeholder="Enter your email">
            </label>
            <button class="button-footer" type="submit">Go</button>
        </form>
        <div class="footer-down">
            <p class="footer-down-text">
                Privacy Policy Public Offering Agreement
            </p>
            <p class="footer-down-text">
                2023 Focus Frame © All rights reserved
            </p>
        </div>
    </div>
    </footer>