<footer">
    <div class="container-footer">
        <p class="logo">Focus.Frame</p>
        <ul class="contacts-list">
            <li class="contacts-item">
                <a href="tel:+380665438912">UK: +38 066 543 8912</a>
            </li>
            <li>
                <address>Ukraine, Kyiv</address>
            </li>
        </ul>
        <div class="footer-lists">
            <ul class="socials-list">
                <li class="socials-item">
                    <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
                </li>
                <li class="socials-item">
                    <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
                </li>
                <li class="socials-item">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
                </li>
            </ul>
            <!-- Попросити інших внести в розділи якірні посилання id="" -->
            <ul class="anchor-list">
                <li class="anchor-item">
                    <a href="#about">About us</a>
                </li>
                <li class="anchor-item">
                    <a href="#courses">Our courses</a>
                </li>
                <li class="anchor-item">
                    <a href="#mentors">Our mentors</a>
                </li>
                <li class="anchor-item">
                    <a href="#reviews">Reviews</a>
                </li>
                <li class="anchor-item">
                    <a href="#contacts">Contacts</a>
                </li>
            </ul>
        </div>
        <form class="subscribe-form" name="subscribe-form">
            <label class="subscribe-label" for="email">
                <input class="email-field" id="email" type="email" name="user-email" placeholder="Enter your email">
            </label>
            <button class="button-footer" type="submit">Go</button>
        </form>
        <p>
            Privacy Policy Public Offering Agreement
        </p>
        <p>
            2023 Focus Frame © All rights reserved
        </p>
    </div>
    </footer>