          <div class="our-background"> 
<div class="header">
  <div class="container header-container">   
  <div class="header-wr">
<a href="" > <svg class="header-logo" > 
  <use href="img/icons.svg#icon-logo"></use>
</svg>
</a>
<nav class="header-menu"> 
<ul class="header-menu-list">
<li class="header-menu-item"><a href="#About-us" class="header-menu-link" >About us</a></li>
<li class="header-menu-item"><a href="#Our-courses" class="header-menu-link" >Our courses</a></li>
<li class="header-menu-item"><a href="#Our-mentors" class="header-menu-link" >Our mentors</a></li>
<li class="header-menu-item"><a href="#Reviews" class="header-menu-link" >Reviews</a></li>
<li class="header-menu-item"><a href="#Contacts" class="header-menu-link" >Contacts</a></li>
</ul>
</nav>
<div class="header-content-wrap">
<a class="header-sign-up" href="#Sign-up">
<svg width="16" height="16" class="header-sign-up-icon">
<use href="img/icons.svg#icon-bi_camera-fill"></use>
</svg>
</a>
<button type="button" class="header-button">
<span class="band"></span>
<span class="band band-center"></span>
<span class="band"></span>
</button>
</div>
</div>
<a href="#Sign-up" class="header-sign-up-link">Sign up</a>
</div>

<!---MODAL-->



   <div class="modal-window" id="modal">
     <div class="modal-button">
<button type="button" class="button-band" id="button-band-close">
<svg  class="button-color"  width="32" height="32">
<use href="img/icons.svg#icon-x"></use>
</svg>
</button>
<ul class="navigation-band">
<li><a class="navigation-band-item" href="#About-us">About us</a></li>
<li><a class="navigation-band-item" href="#Our-courses">Our courses</a></li>
<li><a class="navigation-band-item" href="#Our-mentors">Our mentors</a></li>
<li><a class="navigation-band-item" href="#Reviews">Reviews</a></li>
<li><a class="navigation-band-item" href="#Contacts">Contacts</a></li>
</ul>
  <img class="modal-photo"
  src="img/header/restangle.jpg"
  alt="camera"
  width="329"
  height="218">
</div>
       </div>
</div>
          </div>