<header class="header">
  <div class="header-container">   
  <div class="header-wr">
<a href="" > <svg class="header-logo" > 
  <use href="img/icons.svg#icon-logo"></use>
</svg>
</a>
<nav class="header-menu"> 
<ul class="header-menu-list">
<li class="header-menu-item"><a href="#About-us" class="header-menu-link" >About us</a></li>
<li class="header-menu-item"><a href="#Our-courses" class="header-menu-link" >Our courses</a></li>
<li class="header-menu-item"><a href="#Our-Mentors" class="header-menu-link" >Our mentors</a></li>
<li class="header-menu-item"><a href="#Reviews" class="header-menu-link" >Reviews</a></li>
<li class="header-menu-item"><a href="#Contacts" class="header-menu-link" >Contacts</a></li>
</ul>
</nav>
<div class="header-content-wrap">
<a class="header-sign-up" href="#Sign-up">
<svg width="16" height="16" class="header-sign-up-icon">
<use href="/src/img/icons.svg#icon-bi_camera-fill"></use>
</svg>
</a>
<button type="button" class="header-button">
<div class="band"></div>
<div class="band band-center"></div>
</button>
</div>
</div>
<a href="#Sign-up" class="header-sign-up-link">Sign up</a>
</div>
    
  
</header>