<header class="header">
  <div class="container">   
    <div class="header-container">
  <div class="header-wr">
<a href="" > <svg class="header-logo" > 
  <use href="/src/img/icons.svg#icon-logo"></use>
</svg>
</a>
<div class="header-content-wrap">
<a class="header-sign-up" href="#Sign up">
<svg width="16" height="16" class="header-sign-up-icon">
<use href="/src/img/icons.svg#icon-bi_camera-fill"></use>
</svg>
</a>
<button type="button" class="header-button">
<div class="band"></div>
<div class="band band-center"></div>
</button>
</div>
</div>
<div>
<a href="#Sign up" class="header-sign-up-link">Sign up</a>
</div>
    </div>
  </div>
  <!-----<ul class="header-menu-list">
<li class="header-menu-item"><a class="header-menu-link" href="#About us">About us</a></li>
<li class="header-menu-item"><a class="header-menu-link" href="#Our courses">Our courses</a></li>
<li class="header-menu-item"><a class="header-menu-link" href="#Our Mentors">Our mentors</a></li>
<li class="header-menu-item"><a class="header-menu-link" href="#Reviews">Reviews</a></li>
<li class="header-menu-item"><a class="header-menu-link" href="#Contacts">Contacts</a></li>--->
</header>