<section class="container-my">
    <div class="container-hero">
        <h1 class="title-hero">Discover the magic of <span class="span-title-hero">photography</span> in our school</h1>
        <p class="text-hero">Our photography school offers an unforgettable journey, where you can learn the basics of
            composition, master
            technical
            skills, translate your unique ideas.</p>


        <div class="container-circles-hero">

            <ul class="list-circles-hero">

                <li class="item-circles-hero">
                    <img src="../img/hero/girl 1.png" class="first-girl" alt="First girl" />
                </li>

                <li class="item-circles-hero">
                    <img src="../img/hero/boy.png" class="boy" alt="Boy" width="44" height="44" />
                </li>

                <li class="item-circles-hero">
                    <img src="../img/hero/girl.png" class="second-girl" alt="Second girl" width="44" height="44" />
                </li>
            </ul>
            <div class="container-reviews-hero">
                <div class="container-for-star-reviews-hero">
                    <svg width="20" height="20" class="star-reviews-hero">
                        <use href="../img/hero/hero.svg#icon-star"></use>
                    </svg>
                </div>
                <div class="container-column-hero">
                    <p class="text-reviews-hero">Reviews</p>
                    <p class="amount-reviews-hero">+1500</p>
                </div>

            </div>

        </div>

        <div class="container-happystudents-hero">

            <a class="link-happystudents-hero" href="#reviews">Our happy<br>students</a>

            <svg width="18" height="8.66" class="arrow-happestudents-hero">
                <use href="../img/hero/hero.svg#icon-Arrow-2-Stroke"></use>

            </svg>

        </div>

        <picture>
            <source srcset="../img/hero/red-boy-1x-desc.png 1x, ../img/hero/red-boy-2x-desc.png 2x"
                media="(min-width:1238px)" />
            <source srcset="../img/hero/red-boy-1x-tub.png 1x, ../img/hero/red-boy-2x-tub.png 2x"
                media="(min-width:700px)" />
            <source srcset="../img/hero/red-boy-1x-mob.png 1x, ../img/hero/red-boy-2x-mob.png 2x"
                media="(min-width:320px)" />
            <img class="red-boy" src="../img/hero/red-boy-1x-tub.png" alt="Man with camera" width="397" />
        </picture>

    </div>

</section>