<section class="hero">
    <div class="container-hero container">
        <h1 class="title-hero">Discover the magic of <span class="span-title-hero">photography</span> in our school</h1>
        <p class="text-hero">Our photography school offers an unforgettable journey, where you can learn the basics of
            composition, master
            technical
            skills, translate your unique ideas.</p>


        <div class="container-circles-hero">

            <ul class="list-circles-hero">

                <li class="item-circles-hero">
                    <img src="" class="first-girl" alt="First girl" width="" height="" />
                </li>

                <li class="item-circles-hero">
                    <img src="" class="boy" alt="Boy" width="" height="" />
                </li>

                <li class="item-circles-hero">
                    <img src="" class="second-girl" alt="Second girl" width="" height="" />
                </li>
            </ul>

            <div class="container-reviews-hero">

                <svg width="" height="" class="star-reviews-hero">
                    <use href=""></use>
                </svg>

                <div class="container-column-hero">
                    <p class="text-reviews-hero">Reviews</p>
                    <p class="amount-reviews-hero">+1500</p>
                </div>

            </div>

        </div>

        <div class="container-happystudents-hero">

            <a class="link-happystudents-hero" href="#reviews">Our happy students</a>

            <svg width="" height="" class="arrow-happestudents-hero">
                <use href=""></use>

            </svg>

        </div>

        <picture>
            <source srcset="./images/mark-guerrero.jpg 1x, ./images/1-man-desc-2-min.jpeg 2x"
                media="(min-width:320px)" />
            <img src="./images/mark-guerrero.jpg" alt="Man with camera" width="259" />
        </picture>

    </div>

</section>