<div class="our-mentors" id="Our-Mentors">
    <div class="container">
        <h2 class="our-mentors-title">Our <span class="mentors">Mentors</span></h2>
        <ul class="our-mentors-list">
            <li class="our-mentors-item">
                <img class="our-mentors-img"
                    srcset="/img/our-mentors/emilia-smith-mob.png 1x, /img/our-mentors/emilia-smith-mob-2x.png 2x"
                    src="/img/our-mentors/emilia-smith-mob.png" alt="Emilia Smith" width="180">
                <h3 class="our-mentors-name">Emilia Smith</h3>
                <p class="our-mentors-exp"> 1.5 years of experience</p>
            </li>
            <li class="our-mentors-item">
                <img class="our-mentors-img"
                    srcset="/img/our-mentors/alex-lebedev-mob.png 1x, /img/our-mentors/alex-lebedev-mob-2x.png 2x"
                    src="/img/our-mentors/alex-lebedev-mob.png" alt="Alex Lebedev" width="180">
                <h3 class="our-mentors-name">Alex Lebedev</h3>
                <p class="our-mentors-exp"> 3.5 years of experience</p>
            </li>
            <li class="our-mentors-item">
                <img class="our-mentors-img"
                    srcset="/img/our-mentors/mia-dubrovska-mob.png 1x, /img/our-mentors/mia-dubrovska-mob-2x.png 2x"
                    src="/img/our-mentors/mia-dubrovska-mob.png" alt="Mia Dubrovska" width="180">
                <h3 class="our-mentors-name">Mia Dubrovska</h3>
                <p class="our-mentors-exp"> 2.0 years of experience</p>
            </li>
            <li class="our-mentors-item">
                <img class="our-mentors-img"
                    srcset="/img/our-mentors/eliot-kovalev-mob.png 1x, /img/our-mentors/eliot-kovalev-mob-2x.png 2x"
                    src="/img/our-mentors/eliot-kovalev-mob.png" alt="Eliot Kovalev" width="180" height="180">
                <h3 class="our-mentors-name">Eliot Kovalev</h3>
                <p class="our-mentors-exp"> 4.0 years of experience</p>
            </li>

        </ul>
    </div>
</div>