<!-- Reviews -->
<section id="reviews">
    <div class="container">
        <div class="reviews-all">
            <h2 class="title">Reviews</h2>
            <div class="reviews-block">
                <div class="reviews-inner-left">
                    <div class="foto-box">
                        <img class="foto" src="img\reviews\userman2x.png" alt="foto" width="56px" height="56px">
                    </div>
                    <div class="text-box-man">
                        <h3 class="name-student">Abraham Baker</h3>
                        <p class="text-student">Student</p>
                    </div>

                    <div class="stars">
                        <ul class="star-line">
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\black-star.svg" alt="black-star">
                            </li>
                        </ul>
                    </div>
                    <div class="text-review">
                        <p>I am very pleased that I decided to enroll in photography school. The
                            teachers
                            turned out to be very talented and
                            experienced professionals who share their knowledge and are dedicated to their work. I
                            was able to expand my skills and
                            discover my own style.</p>
                    </div>
                </div>

                <div class="reviews-inner-right">
                    <div class="girl-box foto-box ">
                        <img class="foto" src="img\reviews\usergirl.png" alt="foto">
                    </div>
                    <div class="text-box-girl">
                        <h3 class="name-student">Amanda Lowery</h3>
                        <p class="text-student">Student</p>
                    </div>
                    <div class="stars-girl stars">
                        <ul class="star-line">
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="img\reviews\black-star.svg" alt="star">
                            </li>
                        </ul>
                    </div>
                    <div class="text-review">
                        <p>The courses at the photography school exceeded all my expectations. I gained not only
                            technical knowledge, but also
                            inspiration and motivation to reach new heights in my creativity. Hands-on classes and
                            workshops helped me understand
                            different styles of photography.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>