<p class="rewiews">

    <!-- Reviews -->
<section id="reviews">
    <div class="container">
        <div class="reviews">
            <h2 class="title">Reviews</h2>
            <div class="reviews-block">
                <div class="reviews-inner-left">
                    <img class="foto" src="../Team-Project-Notepad/image/useruser-1.png" alt="foto">
                    <h3 class="name">Abraham Baker</h3>
                    <p class="text">Student</p>
                    <div class="stars">
                        <ul class="star-line">
                            <li class="star-gold">
                                <img class="star-fill" src="../Team-Project-Notepad/image/star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="../Team-Project-Notepad/image/star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="../Team-Project-Notepad/image/star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="../Team-Project-Notepad/image/star.svg" alt="star">
                            </li>
                            <li class="star-gold">
                                <img class="star-fill" src="../Team-Project-Notepad/image/black-star.svg" alt="star">
                            </li>
                        </ul>
                    </div>
                    <div class="text-review">
                        <p class="">I am very pleased that I decided to enroll in photography school. The teachers
                            turned out to be very talented and
                            experienced professionals who share their knowledge and are dedicated to their work. I
                            was able to expand my skills and
                            discover my own style.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



</p>