<section class="sign" id="Sign-up">
  <div class="container sign-container">
    <div class="sign-wrapper">
      <h2 class="sign-title">Sign <span class="sign-title-brown">Up</span></h2>
      <p class="sign-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <label class="sign-form-label">
          <input
            type="text"
            pattern="[A-Za-z-]{1,30}"
            class="sign-form-input"
            name="user-name"
            placeholder="Enter your name"
          />
        </label>
        <label class="sign-form-label">
          <input
            type="email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            class="sign-form-input"
            name="email"
            placeholder="Enter your email"
          />
        </label>
        <label class="sign-form-label">
          <textarea
            name="user-message"
            class="sign-form-input sign-form-message"
            placeholder="Message"
          ></textarea>
        </label>
        <button type="submit" class="sign-form-btn">Send</button>
        <p class="sign-form-text">
          By clicking on &ldquo;Send&rdquo; button, you agree to our
          <a class="sign-form-privacy-link" href="">Privacy Policy</a>, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-img-wrapper">
      <div class="sign-img-wrapper-cameraoptics">
        <img
          srcset="
            img/sign-up/camera-optics.png    1x,
            img/sign-up/camera-optics@2x.png 2x
          "
          src="img/sign-up/camera-optics.png"
          alt="camera optics"
          class="sign-img sign-img-cameraoptics"

        />
      </div>
      <!-- width="150"
      height="142 -->
      <div class="sign-img-wrapper-camera">
        <img
          srcset="img/sign-up/camera.png 1x, img/sign-up/camera@2x.png 2x"
          src="img/sign-up/camera.png"
          alt="camera"
          class="sign-img"
          width="240"
          height="296"
        />
      </div>
    </div>
  </div>
</section>
