*,
*::before,
*::after {
    box-sizing: border-box;
}

.advertisement {
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    line-height: 1.15;
    text-transform: uppercase;
    color: #BEA69E;
}

.container-advertisement {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.adv-text {
    /* display: flex;
    justify-content: center; */
    font-size: 28px;
    letter-spacing: -0.02em;
    flex-shrink: 0;
    margin: 0;
    padding: 15px 20px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.adv-sp {
    color: #fff;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 768px) {
    .advertisement {
        line-height: 1.25;
    }

    .adv-text {
        padding: 24px 20px;
        font-size: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .advertisement {
        line-height: 1.09;
    }

    .adv-text {
        padding: 24px 20px;
        font-size: 59px;
    }
}