.footer {
  background-color: #121212;
}
.logo-footer {
  fill: #ffffff;
  margin-top: 40px;
  margin-bottom: 16px;
}
.contacts {
  margin-bottom: 40px;
}
.contacts-item {
  font-size: 14px;
  line-height: 1.28;
}
.telephone {
  text-transform: uppercase;
}
.address {
  font-style: normal;
}
.contacts-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-lists {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}
.networks-item:not(:last-child) {
  margin-bottom: 14px;
}
.anchor-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-link {
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}
.subscribe-form-footer {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.email-field-footer {
  min-width: 212px;
  height: 60px;

  border: none;
  border-radius: 12px;
  background: #fff;

  padding: 0 0 0 18px;

  color: rgba(18, 18, 18, 0.7);
  font-size: 16px;
  line-height: 1.25;
}
.button-footer {
  width: 60px;
  height: 60px;
  padding: 0;

  border: none;
  border-radius: 12px;
  background: #1d1d1d;

  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2.4;
}
.footer-down {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer-down-text {
  font-size: 12px;
  line-height: 1.33;
}
