.our-courses-section-top {
  margin-bottom: 40px;
}
.our-courses-section-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.our-courses-section-title-part {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.our-courses-section-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.our-courses-section-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: item;
  list-style-position: inside;
}
.our-courses-section-item {
  max-width: 335px;
  flex-shrink: 0;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  position: relative;
}
.our-courses-section-item:before {
  display: inline-block;
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.our-courses-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #1d1d1d;
  position: absolute;
  top: 28px;
  right: 28px;
}
.our-courses-arrow-icon {
  fill: #777777;
}
.our-courses-item-link:hover,
.our-courses-item-link:active {
  background-color: #bea69e;
}
.our-courses-item-link:hover .our-courses-arrow-icon,
.our-courses-item-link:active .our-courses-arrow-icon {
  fill: #ffffff;
}
.our-courses-section-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-top: 42px;
  margin-bottom: 164px;
}
.our-courses-section-item-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .our-courses-section-top {
    display: flex;
    justify-content: space-between;
    gap: 58px;
    margin-bottom: 50px;
  }
  .our-courses-section-title {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 0;
    min-width: 265px;
  }
  .our-courses-section-title-part {
    color: #bea69e;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -0.04em;
  }
  .our-courses-section-item {
    max-width: 342px;
    padding: 32px;
  }
  .our-courses-section-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .our-courses-section-item-title {
    font-size: 28px;
    width: 265px;
    margin-top: 46px;
    margin-bottom: 180px;
  }
  .our-courses-section-item-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .our-courses-section-top {
    gap: 410px;
  }
  .our-courses-section-items {
    flex-wrap: nowrap;
  }
  .our-courses-section-item {
    max-width: 347px;
  }
}
@media screen and (min-width: 1440px) {
  .our-courses-section-item {
    max-width: 400px;
  }
}
