.our-mentors {
}
.our-mentors-title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.mentors {
  color: #bea69e;
}
.our-mentors-list {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.our-mentors-item {
  max-width: 185px;
}
.our-mentors-img {
}
.our-mentors-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 16px;
  padding-bottom: 4px;
}
.our-mentors-exp {
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  opacity: 50%;
}

@media screen and (min-width: 768px) {
  .our-mentors-title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    align-items: flex-start;
  }
  .our-mentors-list {
    gap: 93px 100px;
  }
  .our-mentors-item {
    width: calc((100% - 100px) / 2);
    max-width: 190px;
  }
  .our-mentors-img {
    border-radius: 200px;
    background: linear-gradient(
      rgba(211, 211, 211, 0.5),
      rgba(211, 211, 211, 0.5)
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 16px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    .mentors-image {
      background: linear-gradient(
        rgba(211, 211, 211, 0.5),
        rgba(211, 211, 211, 0.5)
      );
    }
  }
  .our-mentors-name {
    font-size: 28px;
    line-height: 1.14;
  }
  .our-mentors-exp {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .our-mentors-title {
    margin-top: 150px;
  }
  .our-mentors-list {
    /* gap: 100px; */
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 93px;
    justify-content: center;
  }
  .our-mentors-item {
    max-width: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .our-mentors-list {
    gap: 113px;
  }
}
